@keyframes animlogo{
    0%  {opacity: 0; right: 70%;}
    100% {opacity: 1 ;}
}

#logoimg{
    position: absolute;
    height: 80px;
    width: 80px;
    right: 10%;
    bottom: 10%;
    animation-name: animlogo;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; 
}

@keyframes anim{
    from {top: -80px;}
    to {top: 0px;}
}

.dropdown-content{
    display: none;
    width: 90%;
    z-index: 90;
    list-style: none;
    position: absolute;
    top: 50px;
    right: 5%;
    border: solid black 1px;
    background-color: #c8c8c8;
    font-size: x-large;
    text-align: left;
    border-radius: 10px 0px 10px 10px;
    opacity: 0.9;
}
.dropdown-content ul{
    width: 100%;
    list-style: none;
}

.dropdown-content li{
    width: 100%;
    display: block;
    margin: 20px;
}

.dropdown-content li:hover{
    font-weight: bold;
}

.nav{
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    position: fixed;
    min-height: 40px;
    animation-name: anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    padding: 0;
}

#menu-icon{
    display:none;
    position: absolute;
    top:2%;
    right:5%;
    width: 50px;
    animation-name: anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; 
}

main{
    height: auto;
    border-top: inset grey 2px;
    border-bottom: inset grey 2px;
    position: relative;
    padding: 0;
}
.button{
    display: inline-block;
    background-color: whitesmoke;
    text-align: center;
    cursor: pointer;
    height: 40px;

}
.button:hover {
    background-color: #c8c8c8;
}

.active{
    background-color: #d6d6d6;
}
.bg{
    width: 100%;
    height: 500px;
    position: relative;
}
.gradient_bg{

    background: linear-gradient(to top, #777a8a, white);   
}
.gradient_bg2{
    background: linear-gradient(to bottom, #777a8a, white);  
}
.dark_bg{
    background: #777a8a;
}
.white_bg{

    background: white;

}

@keyframes fadeInLeft{
    0% {opacity: 0; left: -300px}
    100%{opacity: 1; left: 0px;}
}

.section_content{
    position: relative;
    width: 100%;
    display: block;
    color: white;
    float: left;
    padding: 10%;
    padding-top: 5%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    overflow: hidden;
    animation-name: fadeInLeft;
    animation-duration: 1s;
}
h1:nth-child(2)::after{
    content: "";
    display: block;
    width: 70%;
    height: 5px;
    border: 5px solid;
    margin-top: 20px;
}

h2{
    color: black;
    text-shadow: 0px 0px 10px grey;
    text-transform: uppercase;
}

h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border: 2px solid;
    margin-top: 20px;
}

p{
    font-size: 30px;
    text-shadow: 0px 0px 10px grey;
    padding-left: 5%;
}

.white_bg p{
    color: black;
}

footer{
    text-align: center;
    animation-name: anim;

}

a, a:hover, a:visited, a:active{
    color: black;
    text-decoration: none;
}

.blackout{
    width: 100%;
    opacity: 0.9;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 100;
}

.login{
    visibility: hidden;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
/*    transform: translateX(-50%);
    transform: translateY(-50%);*/
    width: 30%;
    height: 100px;
    background-color: #c8c8c8;
    z-index: 101;
    border: solid black 3px;
    border-radius: 10px;
}

#login span{
    padding: 20px;
    display: box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

input[type=text], input[type=password]{
    padding: 2px;
    padding-left: 10px;
    
    border: 1px solid black;
    border-radius: 10px;
    
}

input[type=submit]{
    border-radius: 10px;
    
}

@media only screen and (max-width: 640px){
    h1 {font-size: 30px;}
    .gradient_bg {height: 350px;}
    p{font-size: 20px;}
    #nav{ display: none}
    #menu-icon{display: block;}
    #logoimg{top: 5%; left: 5%;}
    #logo{top: -10%; left: 40%;}
    .dropdown:hover #menu-icon{background-color: #d6d6d6; border-radius: 10px 10px 0px 0px; border: solid black 1px;}
    .dropdown:hover .dropdown-content{
        display: block;}


}
