.fortune {
  width: 1000px;
  margin: 0 auto;
}

.panel, .leftSide, .rightSide {
  background-color: #a9acd4;
  height: 600px;
  border: 3px outset #a59054;
  box-shadow: 5px 5px 5px rgba(189, 186, 106, 0.75);
  border-radius: 10px;
}

.leftSide {
  width: 740px;
  float: left;
  text-align: center;
}
.leftSide h1 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Ruslan Display';
  font-size: 40pt;
  color: #878bc3;
  margin-top: 100px;
}
.leftSide span {
  letter-spacing: 1em;
  font-size: 30pt;
}

.rightSide {
  width: 240px;
  float: right;
}

.sideBox, .buttons, .usedLetterBox, .guessBox, .triesBox {
  border-bottom: solid black 1px;
  padding: 10px;
  text-align: center;
}

.buttons button {
  background-color: #878bc3;
  width: 30px;
  height: 30px;
  margin: 2px;
  border-color: #656ab2;
}
.buttons button:hover {
  background-color: #4c5198;
}
.buttons .goodBtn {
  background-color: green !important;
}
.buttons .wrongBtn {
  background-color: red !important;
}

.buttonPrototype, .guessBox button, .winBox button {
  width: 100px;
  height: 34px;
  border: 1px outset #a59054;
  background-color: #878bc3;
}

.usedLetterBox {
  margin: 10px;
}

.guessBox {
  margin-top: 10px;
}
.guessBox .triesInput {
  margin-top: 10px;
}

#input {
  background-color: #cbcde5;
  height: 30px;
  width: 200px;
  border: 1px outset #a59054;
  margin: 5px;
}

.usedLetterBox {
  padding: 5px;
}

.triesBox {
  font-size: 20pt;
  border: none;
}

.winBox {
  display: block;
  position: fixed;
  width: 200px;
  height: 200px;
  background-color: #d0d0d0;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 2px solid black;
  text-align: center;
  padding-top: 100px;
}
.winBox button {
  margin-top: 20px;
}

