$backgroundColor: #a9acd4;
$borderColor: #a59054;
$borderBottom: solid black 1px;
$totalWidth: 1000px;
$totalHeight: 600px;
$buttonHeight: 30px;
$buttonColor: darken($backgroundColor, 10%);

@function padCalc($height){
  @if($height>180){
    @return ($height/2);
  } 
  @else{
    @return 50px;
  }
}

@mixin button($width, $color){
  background-color: $color;
  width: $width; 
  height: $width;
  margin: 2px;
}
.fortune{
  width: $totalWidth;
  margin: 0 auto;
}
.panel{
    background-color: $backgroundColor;
    height: $totalHeight;
    border: 3px outset $borderColor;
    box-shadow: 5px 5px 5px rgba(189, 186, 106, 0.75);
    border-radius: 10px;
}

.leftSide{
  @extend .panel;
  width: $totalWidth * 0.74;
  float: left;
  text-align: center;
  h1{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Ruslan Display';
    font-size: 40pt;
    color: $buttonColor;
    margin-top: 100px;
  }
  span{
    letter-spacing: 1em;
    font-size: 30pt;
  }
}

.rightSide{
  @extend .panel;
  width: $totalWidth * 0.24;
  float: right;
}

.sideBox{
  border-bottom: $borderBottom;
  padding: 10px;
  text-align: center;
}

.buttons {
  @extend .sideBox;
  button {
  @include button($buttonHeight, $buttonColor);
  border-color: darken($buttonColor, 10%);
  &:hover{
    background-color:darken($buttonColor, 20%);
  }
  }
  
  
.goodBtn{
  background-color: green !important;
}
.wrongBtn{
  background-color: red !important;
}
}
.buttonPrototype{
  width: 100px;
  height: $buttonHeight + 4px;
  border: 1px outset $borderColor;
  background-color: $buttonColor;
}

.usedLetterBox{
  @extend .sideBox;
  margin: 10px;
}
.guessBox {
  @extend .sideBox;
  margin-top: 10px;
  button{
    @extend .buttonPrototype;
  } 
  .triesInput{
    margin-top: 10px;
  }
}
#input{
    background-color: lighten($backgroundColor, 10%) ;
    height: $buttonHeight;
    width: 200px;
    border: 1px outset $borderColor;
    margin: 5px;
  } 
.usedLetterBox{
  @extend .sideBox;
  padding: 5px;
}

.triesBox{
  @extend .sideBox;
  font-size: 20pt;
  border: none;
}


.winBox{
  $height: 200px;
  display: block;
  position: fixed;
  width: $height;
  height: $height;
  background-color: #d0d0d0;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 2px solid black;
  text-align: center;
  padding-top: padCalc($height);
  
  button{
    @extend .buttonPrototype;
    margin-top: 20px;
  }
}


