html{
    display: block;
}
body{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 150px;
    min-height: 100%;
    position: relative;
}

.home{
    min-height: 800px;
}
 
a:visited, a:hover{
    text-decoration: none;
}

.logo{
    width: 20px; 
    height: 20px;
}
/*header.php*/
.my-page-heading{ 
    background:
        linear-gradient(27deg, #151535 5px, transparent 5px) 0 5px, linear-gradient(207deg, #010108 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #031225 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #020202 50%, transparent 50%, transparent 75%, #242424 75%, #060d3e);
    background-color: #132231;
    background-size: 20px 20px;
    height: 200px;
    position: relative;
    padding: 30px 15px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Titillium Web', sans-serif;
}

.navbar-default {
    background-color: #263238;;
    border-color: #000000;
}
.navbar-default .navbar-nav>li>a {
    color: #c1c1c1;
    font-family: 'Ranchers', cursive;
    text-shadow: 1px 1px black;
}
.navbar-default .navbar-nav>li>a:hover {
    color: whitesmoke;
}

.my-page-heading h1{
    font-size: 35pt;
    color: white;
    margin-top: 0;
}

.my-page-heading p{
    font-size: 20pt;
}

/*code.php*/

.my-content{
    margin-top: 10px;
    text-align: center;
}

.my-content .thumbnail{
    position: relative;
}

.my-content .thumbnail:hover{
    border: solid 1px rgba(90, 90, 90, 0.69);
    background-color: rgba(2, 66, 140, 0.3);
}

/*footer.php*/

.footer{
    background-color: #121921;
    height: 150px;
    position: absolute;
    bot: 0;
    left: 0;
    right: 0;
    
}
.my-footer-container{
    padding: 40px 35px;
}
.my-footer-container ul{
    padding: 0;
    list-style: none;
}
.my-footer-container li{
    display: inline-block;
    padding: 10px;
}
.my-footer-container p{
    color: #86909c;
    padding: 10px;
}
.my-footer-container a{
    color: #7692b7;
}

/*contact modal*/
.modal-header{
    background-color: #263238;
    color: #CFD8DC;
}
.modal-body{
    background-color: #CFD8DC;
}
.modal-body .form-control {
    background-color: #ECEFF1;
    border-color: #263238;
}
.modal-body .form-control:focus{
    border-color: rgba(160, 160, 160, 0.9);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 160, 160, 0.65);
}

.modal-body .btn{
    background-color: #121921;
    border: none;
}
.modal-body .btn:hover{
    background-color: #86909c;
}
/*CV*/
.my_cv_container{
    padding: 0 0;
}

.main_section{
    padding: 100px 10px 100px 10px;
    vertical-align: middle;
}


.bg{
    height: 550px; 
    position: relative;
    padding-left: 100px;
    padding-top: 50px;
}

.bg_main{
    height: 700px;
    padding-top: 120px;
}

.bg_light{
    background-color: #9bb3bf;
    color: #263238;
    font-weight: bold;
}


.my_cv_container h1{
    font-size: 40px;
    text-transform: uppercase;
}
.my_cv_container p{
    font-size: 20px;
    margin-left: 30px;
}
.my_cv_container h2{
    font-size: 40px;
}

.my_cv_container h1::after{
    content: "";
    margin-top: 15px;
    display: block;
    background-color: #CFD8DC;
    width: 70vw;
    height: 4px;
}

.bg_dark{
    color: #CFD8DC;
    background-color: #263238;
}

.section_content{
    padding: 100px 10px 100px 10px;
    
}

.my_progress_bar{
    background-color: #9bb3bf; 
}

/*media queries*/

@media only screen and (max-width: 632px){
    .my-page-heading h1{
        font-size: 25pt;
    }
    .my-page-heading p{
        font-size: 15pt;
    } 
    .bg{
        padding: 0;
        padding-left: 10px;
    }
    
    .bg_main{
        height: 400px;
    }
    
    .my_cv_container h1{
    font-size: 25px;
    
    .my_cv_container p{
    font-size: 15px;
}
}
    
}